/*Box sizing property*/

* {
  box-sizing: border-box;
}

/*Body margin and font-family sizes*/

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
}

/*Responsive header and navagation*/
.headerbtn {
  overflow: hidden;
  background-color: blue;
  padding: 20px 0px;
}

.headerbtn a {
  float: left;
  color: orange;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 5px;
}

.headerbtn a.logo {
  font-size: 30px;
  font-weight: bolder;
}

.headerbtn a:hover {
  background-color: yellowgreen;
  color: black;
}

.headerbtn a.active {
  background-color: orangered;
}

.navBtn-right {
  float: right;
}

/*Applying media screen rule applied when 
screen has a max-width of 700px or less - cell phone standard is ~720px*/

@media only screen and (max-width: 700px) {
  body {
    background-color: #c1e1ec;
  }

  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

/*Element tags*/

section {
  background-color: rgb(245, 232, 232);
  padding-left: 20px;
  border: solid blue;
  border-width: .5px;
}

footer {
  text-align: left;
  padding: 3px;
  background-color: rgb(248, 166, 136);
  color: white;
}

/*Details and Summary Attributes*/

summary {
  font-weight: bold;
  text-indent: 10%;
  color: blue;
  margin: 1px;
}

details[open] summary {
  border-bottom: 1px solid red;
  border-width: 3px;
  margin-bottom: 1px;
}
